.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.1 !important;
}

.select2-results__option
{
    padding: inherit !important;
}

.em-notification {
    position: absolute;
    top: 5px;
    border: 1px solid rgb(190, 151, 151);
    right: -4px;
    font-size: 9px;
    background:rgb(190, 151, 151);
    color: #fff;
    min-width: 20px;
    padding: 0 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}

/*=====================  COLOR UPDATES  =================================*/
.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image), .btn.btn-primary {
    background: #e40505;
}

.firebaseui-button, .firebaseui-textfield.mdl-textfield .firebaseui-label::after {
    background-color: #e40505 !important;
}

.container-fluid .admin_background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

#firebaseui-auth-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
  background-color: black !important;
  color: white !important;
}




/*=====================  POPUPS  =================================*/
.sidebar {
  z-index: 5;
}

.popup {
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.popup > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 260px;
  height: 100%;
  width: 100%;
}

.holder {
  background-color: white;
  position: relative;
  z-index: 5;
  max-width: 300px;
  min-height: 200px;
  width: 100%;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  font-weight: bold;
}

.holder img {
  width: 150px;
}

.holder p:first-child {
  font-size: 20px;
}

.failure p:first-child {
  color: #e40505;
  font-weight: bold;
}

.failure p:first-child {
  font-size: 15px;
  font-weight: normal;
}

.success {
  color: #4caf50;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 17px;
  opacity: .3;
}

.success p {
  margin-bottom: 0;
}

.off_click {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
