div.account_tab_content > h2 {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 6px;
    color: #9a9a9a;
    letter-spacing: .65px;
    border-bottom: 2px solid #babbbf;
}

ul.products_order_summary.wishlist > li {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

ul.products_order_summary.wishlist li .remove_product {
    height: 21px;
    width: 21px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}

ul.products_order_summary.wishlist li > div.product_image {
    display: inline-block;
    margin-left: 48px;
    width: 72px;
    height: 72px;
    margin-top: 33px;
    float: left;
    background-color: #e5e5e5;
    box-shadow: 0 1px 1px 0px #e5e5e5;
}

ul.products_order_summary.wishlist > li div.product_data {
    padding: 30px 140px 22px 132px;
}


ul.products_order_summary.wishlist > li div.product_data h6 {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    letter-spacing: .2px;
    display: block;
}

ul.products_order_summary.wishlist > li div.product_data p {
    color: #8b8b8b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    margin-right: 12px;
    padding-top: 8px;
    display: inline-block;
    padding-bottom: 11px;
}

ul.products_order_summary.wishlist > li div.product_data p.price {
    font-size: 16px;
    letter-spacing: .2px;
    width: 100%;
    color: #110c0e;
    display: block;
    font-weight: 100;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 0;
}

ul.products_order_summary.wishlist > li div.product_data p label {
    color: #c3c3c3;
    padding-right: 4px;
}

a.remove_product.remove_product_wishlist svg path {
    fill: #8e8e8e;
    stroke-width: 1px;
    -webkit-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -moz-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -ms-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    -o-transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    transition: all 350ms cubic-bezier(0.72, 0.01, 0.56, 1) !important;
    stroke: #8e8e8e;
}

a.remove_product.remove_product_wishlist svg {
    height: 100%;
    width: 100%;
}

ul.products_order_summary.wishlist .buy_product {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -18px;
    height: 36px;
    width: auto;
}

ul.products_order_summary.wishlist > li:last-of-type {
    border-bottom: 0;
}