/*========================  GENERAL CSS  =================================*/
@font-face {
    font-family: 'din_light';
    src: url('../assets/fonts/DINPro-Light_13935.woff2') format('woff2'),
         url('../assets/fonts/DINPro-Light_13935.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_regular';
    src: url('../assets/fonts/DINPro-Regular_13937.woff2') format('woff2'),
         url('../assets/fonts/DINPro-Regular_13937.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_medium';
    src: url('../assets/fonts/DINPro-Medium_13936.woff2') format('woff2'),
         url('../assets/fonts/DINPro-Medium_13936.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'din_regular', 'Arial';
    margin: 0;
    overflow: hidden;
}

.button {
	border-radius: 5px;
    color: #333333;
    border: 1px solid #333;
    padding: 18px 30px;
    font-size: 20px;
    min-width: 311px;
    background: transparent;
    text-transform: uppercase;
    margin: 12px;
    outline: none;
    font-family: 'din_medium';
}

.button.white {
    border-color: white;
    color: white;
}

.button.red {
	border-color: #e40505;
	color: #e40505;
}

p {
	font-size: 19px;
}

.content {
	margin-left: 500px;
}
/*------------------------------------------------------------------------*/




/*========================  HEADER  =================================*/
header {
	background-color: white;
	box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.30);
	width: 500px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 4;
}

header .logo {
	position: relative;
	padding: 30px 0;
	border-bottom: 1px solid #eaeaea;
	width: 500px;
	text-align: center;
}

header img {
	width: 250px;
}

.employee_m {
    margin: 50px 0;
    text-align: center;
    padding: 0 50px;
}

.employee_m p {
	font-size: 19px;
}

.employee_m img {
	background-color: black;
	padding: 15px;
	width: 170px;
}

.employee_m p:first-child {
    font-family: 'din_medium';
    text-transform: uppercase;
    font-size: 20px;
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.news {
    position: fixed;
    background: white;
    bottom: 33px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.30);
    width: 1200px;
    border-radius: 5px;
    left: 600px;
    z-index: 9999999;
}

.news .bar {
	padding: 7px;
	height: 63px;
	overflow: hidden;
}

.news .bar p:first-child {
    background: black;
    color: white;
    display: inline-block;
    position: absolute;
    z-index: 3;
    left: -1px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'din_medium';
    padding: 0 30px;
    font-size: 20px;
    top: 0;
    border-radius: 5px;
}

#ticker_text {
    width: fit-content;
    min-width: 100%;
}

.news .bar p:last-child {
	white-space:nowrap;
	transform: translateX(102%);
    transition-timing-function: linear !important;
}

.reset_ticker {
	transition: none ;
}

.active_ticker {
	transform: translateX(102%);
}

.bar span {
	position: relative;
	margin-right: 40px;
	margin-left: 50px;
}

.bar span:before {
    content: '|';
    font-size: 30px;
    position: absolute;
    top: -34%;
    left: -48px;
    opacity: .1;
}

.bar span:first-child {
    margin-left: 0;
}

.bar span:first-child:before {
    content: '';
}

.load {
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #e40505;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 3;
	transition: width .5s, margin .5s;
}

.start_load {
	margin-left: 500px;
	width: 1420px;
}

.loader {
	-webkit-animation: load 1s linear infinite;
	width: 59px;
    position: absolute;
    margin-top: 150px;
}

.load_logo {
	width: 485px;
}

@-webkit-keyframes load {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg);  }
}

.weather {
	position: absolute;
    bottom: -29px;
}

.widget.widget_13, .wg_respons_box2 {
	border: none !important;
}

.wg_height_250 .widget.widget_13 .wg_top .wg_title, .wg_height_250 .widget.widget_13 .wg_bottom_wrap {
	display: none;
}

.wg_respons_box2 {
	height: 175px;
	transform: scale(1.4);
    margin-left: 93px;
}

.widget.widget_13 {
	background: transparent !important;
}

.wg_height_250 .widget.widget_13 .wg_content .wg_info_list {
    width: 178px;
}

.wg_height_250 .widget.widget_13 .wg_content {
    top: 63px !important;
}

.widget.widget_13 .wg_content .wg_info_list .wg_info_item:last-child {
    display: none;
}

.wg_response_wrap {
    margin-left: 86px;
}

.wg_height_250 .widget.widget_13 .wg_content .wg_info_list .wg_img_wrap {
    min-height: 44px !important;
}

#clock {
    font-size: 37px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: .5;
}
/*------------------------------------------------------------------------*/





/*========================  HOMEPAGE  =================================*/
.slider {
	width: 1420px;
	height: 1080px;
    position: relative;
    background-color: black;
}

.slide-left, .slide-right {
    position: fixed;
    padding: 10px 30px;
    padding-top: 3px;
    background: #e40505;
    font-size: 50px;
    z-index: 3;
    color: white;
    top: 496px;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.slide-right {
    right: -8px;
    padding-right: 35px;
}

.slide-left {
    left: 492px;
    padding-left: 35px;
}

.slide {
	position: absolute;
	background-size: cover;
	background-position: center right;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-start;
    transform: translateX(1420px);
    transition: transform .5s;
    background: black;
    overflow: hidden;
    overflow-y: auto;
}

.slide embed {
    width: 101%;
    height: 1164px;
    position: absolute;
    top: -42px;
    left: 0;
}

.slide img {
    width: 1420px;
    height: auto;
    position: absolute;
}

.slide p {
	text-transform: uppercase;
	font-family: 'din_medium';
	margin-top: 0;
	font-size: 25px;
	margin-bottom: 10px;
}

.slide p.large_txt {
	font-size: 70px;
}

.slide .text_box {
	max-width: 800px;
	padding-left: 150px;
	color: white;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
}


.slide .text_box.black_txt {
	color: black;
}

.active_slide {
    transform: translateX(0px);
	z-index: 2;
    max-width: 1420px;
}

.slide .video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1080px;
}
/*------------------------------------------------------------------------*/





/*========================  SOCIAL MEDIA PAGE  =================================*/

#gs-grid.min-width-768 .gs-posts--col-3 .gs-post, .eapps-instagram-feed-popup-item-header, .eapps-instagram-feed-popup-item-content {
	pointer-events: none;
}

.socalMedia_page {
    overflow-y: auto;
    height: 1080px;
}

.elfsight-app-446bba85-6422-4bb4-9abe-eb127371ee2e {
    padding-bottom: 100px !important;
}

#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item {
    width: 20% !important;
}

.eapps-instagram-feed-popup-item-content {
    pointer-events: none;
}

.eapps-instagram-feed-title-visible {
    display: none;
}

.cover {
    background-color: white;
    position: absolute;
    bottom: 100px;
    height: 100px;
    width: 100%;
    z-index: 9999998;
    height: 50px;
}

.eapps-widget.eapps-instagram-feed-popup {
    z-index: 9999999 !important;
}

.elfsight-app-446bba85-6422-4bb4-9abe-eb127371ee2e > a:last-child {
    display: none !important;
}

.eapps-instagram-feed-popup-inner {
    max-width: 840px !important
}

.eapps-instagram-feed-posts-grid-load-more-visible {
    background: #e40505 !important;
    text-transform: uppercase !important;
}

div.eapps-widget.eapps-widget-show-toolbar:hover:before {
    border: none !important;
}
/*------------------------------------------------------------------------*/




/*========================  TRIVIA PAGE  =================================*/
.background {
	background-size: cover;
	background-position: center center;
	background-image: url('../assets/img/survey_back.jpg');
	height: 1080px;
	width: 1420px;
	position: fixed;
	top: 0;
	left: 500px;
}

.trivia_page {
	padding: 100px;
	color: white;
}

.title_holder p {
	font-size: 25px;
	margin-bottom: -25px;
}

.question p {
	font-size: 50px;
	font-family: 'din_medium';
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;
}

.answer p {
    width: 17%;
    font-size: 30px;
    text-align: center;
}

.answer .fa-star {
    display: block;
	margin-bottom: 37px;
}

.question_holder, .success {
	display: none;
}

.trivia_content .question_holder:nth-child(2) {
	display: block;
}

.question_holder textarea {
    width: 93%;
    padding: 30px;
    font-size: 25px;
    height: 150px;
}

.question_holder .button {
    margin-left: auto;
    display: block;
    margin-top: 50px;
    border: 2px solid white;
    font-size: 26px;
    min-width: 215px;
}
/*------------------------------------------------------------------------*/




/*========================  CULTURE PAGE  =================================*/

.culture_page .video {
	position: absolute;
	z-index: 0;
	height: 1080px;
    margin-left: -1000px;
}

.culture_page .options {
	position: relative;
	z-index: 2;
}

.culture_page {
	background: #f6f6f6;
	width: 1420px;
	height: 1080px;
}

.culture_page .options {
	height: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.culture_page .options .button {
	font-size: 25px;
	border: 2px solid white;
	margin-bottom: 28px;
    max-width: 400px;
    width: 100%;
}

.outer_content {
    height: 1080px;
    width: 1420px;
    background-size: cover;
}

.inner_content {
	display: none;
	padding: 170px;
	background-color: #f6f6f6;
    overflow-y: auto;
    height: 796px;
}

.inner_content .title {
	font-size: 76px;
    margin: 0;
    font-family: 'din_medium';
    opacity: .1;
    position: relative;
    margin-top: -61px;
}

.inner_content .back {
    font-family: 'din_medium';
    /* border: 1px solid #db252e; */
    display: inline-block;
    border-radius: 5px;
    /* padding: 15px 30px; */
    margin-top: 10px;
    z-index: 2;
    position: fixed;
    padding: 20px 50px;
    background: #e40505;
    color: white;
    font-size: 20px;
    top: 28px;
    left: 546px;
}

.inner_content .img_holder {
    position: absolute;
    left: 500px;
    top: 0;
    width: 1420px;
    overflow: hidden;
    overflow-y: auto;
    height: 1080px;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.culture_page .inner_content .img_holder img {
    width: 100%;
}

.inner_content .img_holder embed {
    width: 101%;
    height: 1164px;
    position: relative;
    top: -42px;
}


.scroll {
    position: fixed;
    z-index: 6;
    width: 47px !important;
    bottom: 161px;
    left: 566px;
    -webkit-animation: scroll 3s infinite;
}

.scroll.white {
    filter: brightness(0) invert(1);
}

@-webkit-keyframes scroll {
    20%, 80% { -webkit-transform: translateY(0px); }
    50% { -webkit-transform: translateY(30px);  }
}


.faqs, .cores {
	margin-top: 100px;
	padding-bottom: 200px;
}

.cores {
	margin-top: 75px;
}

.faq_holder {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.faq .switch {
	border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
}

.faq .switch p {
    font-size: 28px;
    position: relative;
    top: -2px;
}

.faq .faq_q {
	margin-top: 0;
    font-size: 29px;
    margin-left: 60px;
    font-family: 'din_medium';
    text-transform: uppercase;
    margin-bottom: 50px;
}

.faq .faq_a {
	display: none;
    margin-left: 62px;
    margin-bottom: 66px;
    margin-top: -40px;
}

.faq .faq_a p, .faq .faq_a li {
    font-size: 23px;
}

.faq .faq_a p span.bold {
    font-family: 'din_medium';
    font-weight: bold;
}


.faq .faq_a p span {
    display: block;
    margin-bottom: 10px;
}

.faq ul.faq_a  {
	margin-top: -42px;
}

.faq li {
	margin-bottom: 7px;
}

.cores h3 {
	font-size: 29px;
    font-family: 'din_medium';
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

.cores h3:first-child {
	margin-top: 0;
}

.cores p {
	font-size: 24px;
}

.img_choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.img_choice {
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 48%;
    border-radius: 7px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-end;
    transition: transform .2s;
}

.two_choices .img_choice {
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 100%;
}

.four_choices .img_choice {
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 48%;
}

.three_choices .img_choices .img_choice:last-child {
    width: 100%;
    margin-bottom: 0;
}

.three_choices .four_choices .img_choice:last-child {
    width: 48%;
    margin-bottom: 50px;
}

.img_choice p {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 50px;
}

.three_choices .img_holder {
    display: none;
}

.inner_content .img_holder .back_btn {
    background: white;
    color: #e40505;
    left: 735px;
    border: 1px solid #e40505;
}
/*------------------------------------------------------------------------*/





/*========================  CULTURE PAGE  =================================*/
.promotions_page .inner_content {
	display: block;
}

.promotions_page {
	min-height: 1080px;
	background: #f6f6f6;
}

.vids {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.vid {
    width: 31%;
    margin-bottom: 50px;
    height: 300px;
    position: relative;
    border-radius: 7px;
    background-position: center center;
    background-size: cover;
}

.vid p {
    position: absolute;
    bottom: -1px;
    left: -1px;
    background: white;
    width: 89%;
    padding: 20px;
    margin: 0;
    border-radius: 7px;
    font-family: 'din_medium';
}

.vid video {
    display: none;
    position: fixed;
}

.vid img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 62px;
    top: 81px;
}

.vid video.active_vid {
    position: fixed;
    top: 0;
    left: 500px;
    width: 1420px;
    z-index: 2;
    height: 1080px;
    background: black;
}

.inner_content .close {
    display: none;
    position: fixed;
    z-index: 5;
    background: transparent;
    color: white;
    width: auto;
    font-size: 86px;
    top: 0;
    height: auto;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding-left: 500px;
    margin: 0px;
}

.img_holder video {
    width: 1420px;
    background: black;
    height: 1080px;
}

.dyn_content {
    width: 1220px;
    min-height: 680px;
    padding: 200px 100px;
    background-color: white;
}

.subtitle {
    font-size: 26px;
    margin-top: 0;
    display: inline-block;
    margin-right: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
    color: #e70000;
}

.txt_content p {font-size: 20px;}

.txt_content p span {
    font-family: 'din_medium';
    font-size: 30px;
    margin-right: 20px;
}
/*------------------------------------------------------------------------*/
